body {
    background-color:rgb(62, 56, 122);

}

h1 {
    font-family:Segoe UI;
    font-size:x-large
}

h2 {
    font-family:Segoe UI Light;
    font-size: large;
}

p {
    font-family:Segoe UI Light;
}