body {
    background-color:rgb(62, 56, 122);
    font-size:350%
}

h1 {
    font-family:Segoe UI;
    
    text-shadow: 2px 2px 7px rgb(9, 247, 9);
}

h2 {
    font-family:Segoe UI Light;
   
}

p {
    font-family:Segoe UI Light;
    text-align:center;
}