body {
    background-color:rgb(46, 44, 73);
    font-size:300%
}

h1 {
    font-family:Segoe UI;
    text-shadow: 2px 2px 7px rgb(9, 247, 9);
}

h2 {
    font-family:Segoe UI Light;
   color:rgb(183, 184, 185);
}

h3 {
    font-size:28px;
    color:rgb(255, 109, 109);
    font-family:Segoe UI Semibold;
    text-decoration:underline;
    margin:37px;
}
p {
    font-family:Segoe UI Light;
    text-align:center;
    text-decoration:wavy;
    color:rgb(183,184,185);
}


a{
    text-align:center;
    color:red;
    font-family:Segoe UI Semibold;
    text-decoration:wavy;
    font-size:25px;
}