body {
    background-color:rgb(62, 56, 122);
    font-size:150%
}

h1 {
    font-family:Segoe UI;
    background-image:url("art-me-banner-short.png");
    background-repeat:no-repeat;
    background-size:300% 300%;
    text-shadow: 2px 2px 7px rgb(9, 247, 9);
    border:50px;
    margin:50px;
}

h2 {
    font-family:Segoe UI Light;
    color:rgb(184, 183, 183);
}

a {
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
    color:red;
    align-items:center;
}
p {
    font-family:Segoe UI Light;
    text-align:center;
    color:rgb(184, 183, 183);
}

h4 {
    font-family:Segoe UI Light;
    color:rgb(184, 183, 183);
    margin:90px;
}

h3 {
    font-family:Segoe UI Semibold;
    text-decoration:underline;
    color:rgb(253, 86, 86);
    margin:40px
}